  <div  class="ae-grid au-xs-ta-center au-mb-4">
    <div  *ngFor="let persona of infoPaginaServices.equipo" class=" .animated fadeInDown ae-grid__item item-lg-4 ae-kappa au-mb-3">
      <img [src]="persona.url" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">{{persona.nombre}}</h5>
      <p class="ae-u-bolder au-mb-3">{{persona.frase}}</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{persona.subtitulo}}</p><a href="#0" class="ae-u-bolder au-underline">@robertwilliams</a>
    </div>

  </div>
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h4 class="ae-u-bolder">Title example</h4>
      <p></p>
    </div>
  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">About Us</h6>
      <p class="au-lh-3">Cada equipo de trabajo es un universo en sí mismo: en ellos se establecen relaciones, vínculos y lazos que sólo allí podrían tener cabida; en ellos entran en juego habilidades, conocimientos e intereses; en ellos, en últimas, se asumen papeles en función de cada miembro y de éste en relación con los demás integrantes.</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Our Mission</h6>
      <p class="au-lh-3">Tradicionalmente, uno de los rasgos de los equipos de trabajo más estudiados por la psicología empresarial ha sido precisamente este: la distribución de roles y funciones para la consecución de objetivos comunes.</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Our Clients</h6>
      <p class="au-lh-3">El equipo en Agile incluye al Cliente / Product Owner y al Facilitador / Scrum Master. Cuando se habla específicamente de “equipo de desarrollo” se refiere al conjunto de personas más “técnicas” que de manera conjunta desarrollan el producto del proyecto. Tienen un objetivo común, comparten la responsabilidad del trabajo que realizan (así como de su calidad) en cada iteración y en el proyecto. </p>

    </div>
  </div>
  <p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">View Our Portfolio<span class="arrow-cont">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg></span></a></p>
